body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #14133b;
  /*animation-name: backgroundColorPalette;
  animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
@keyframes backgroundColorPalette {
	0% {
		background: #14133b;
	}
	25% {
		background: green;
	}
	50% {
		background: blue;
	}
	75% {
		background: aqua;
	}
	100% {
		background: darkslateblue;
	}
}*/
